/*Then, switch over to some CSS. Create a new file and save it as style.css
		Reference your board class and give it a height of 80% and a width of 50%. Make sure you display it as an inline-block.
		Reference your card class in your style.css and make the height of your cards 200px, the width 150px, and a black border of 1px.
		Make your cards yellow.
		Bonus: Make your cards have card-like rounded borders by adding a border radius of 10px.
		5) Now, go back to your index.html and connect your css file (style.css) by using a <link> tag to reference it.
		6) Switch up the named color values to RGB and Hex values. If you can't figure out the exact RGB or Hex value to match the color, don't sweat it — just use something close. The key is just to practice implementing a more technical value.
		Add the rgb(2, 132, 130) to your level one heading (h1).
		Add color: #ffd700 to your level two heading (h2).
		A good way to find your color value is by doing a Google search with <color name> hex code or <color name> rgb color.*/
img {  height:199px;
				width:111px;
			}
footer {		background-color: #808080;
		width: 100%;
		display: block;
	}
.clearfix {
  overflow: auto;
}
.clearfix:after {
			visibility: hidden;
			display: block;
			content: " ";
			clear: both;
			height: 0;
			font-size: 0;
		}
a {
		color: teal;
		padding: 35px;
		float: left;
	}
nav {
		background-color: #ffbf00;
		width: 100%;
		display: block;
	}
h1{
	color: rgb(2, 132, 130) ;
	    font-style: bold;
}

h2{
	color:#ffd700;
}

h3{
	color:rgba(255,0,0,.5);
    font-style: italic;
}


body {
/*	border: 2px solid black;
	display: inline-block;*/
		/*TO MK IT LOOK LIKE THE EXAMPLE IN THE XRC COMMENT OUT ABOVE LINE*/
/*	height: 150px;
*/	text-align:center;
/*	width: 150px;
	margin: 20px;*/
}

div {
	border: 2px solid black;
/*	display: inline-block;*/
		/*TO MK IT LOOK LIKE THE EXAMPLE IN THE XRC COMMENT OUT ABOVE LINE*/
	height: 150px;
	width: 150px;
	margin: 20px;
}

.board {
	background-color: blue;
/*	display: inline-block;*/
	height: 50%;
	width: 50%;
	/*float: left;*/
}

.card {
	border: 1px solid black;
	border-radius: 10px;
	background-color: yellow;
	height: 200px;
	width: 150px;
	display: inline-block;
	/*float: left;*/
	margin: 8%;
}

.name {
/*	border: 1px solid black;
	border-radius: 10px;
	background-color: yellow;*/
	color:#ff0000;
/*	height: 200px;
	width: 150px;*/

}


/*#rgb {
	background: rgba(255,0,0,.5);
	background: rgba(0,0,0,.5);
*/
